<!DOCTYPE html>
<html ng-app="Kassandra" lang="en" style="height:100%;">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kassandra</title>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
					<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
					<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<script type="text/javascript">
	'use strict';

/* Controllers */

var Kassandra = angular.module('Kassandra', []);

Kassandra.controller('kassandraViewCtrlr', function($scope, $http) {
	var statsRequestPath = window.location.pathname.replace('view', 'stats');
	$http.get(statsRequestPath)
	.then(function(response) {
		if (response.data.status != 'OK') {
			$scope.fetch_error_msg = "Error! " + response.data.msg;
		} else {
			$scope.fetch_error_msg = null;

			$scope.team = response.data.team;
			$scope.alliance = response.data.alliance;
			$scope.match = response.data.match;

			$scope.breaching = response.data.stats.breaching;
			$scope.shooting = response.data.stats.shooting;
			$scope.collection = response.data.stats.collection;
			$scope.end_game = response.data.stats.end_game;
			$scope.defences = response.data.stats.defences;
			$scope.general = response.data.stats.general;
		};
	});
 // $scope.breaching  = [
 // {name:"Portcullis", type:"a1", successful:14, attempted:32, size:4, color:"danger", teams: [1,2,3]},
 // {name:"Moat", type:"b2", successful:8, attempted:26, size:5, color:"success", teams: [1,2,3]},
 // {name:"Sally Port", type:"c2_assist", successful:6, attempted:26, size:5, color:"warning", teams: [1,2,3]},
 // {name:"Ramparts", type:"b1", successful:2, attempted:15, size:6, color:"success", teams: [1,2,3]},
 // {name:"Rock Wall", type:"d2", successful:2, attempted:11, size:6, color:"success", teams: [1,2,3]},
 // ];
 //
 // $scope.shooting = {
 // 	high: {
 // 		far:   {successful:6, attempted:7, size:4, color: "success", teams: [1,2,3], variant: true},
 // 		close: {successful:0, attempted:0.7, size:6, color: "danger", teams: [1,2,3], variant: false}
 // 	},
 // 	low : {
 // 		far:   {successful:0, attempted:0, size:6, color: "danger", teams: [1,2,3], variant: false},
 // 		close: {successful:2, attempted:4, size:5, color: "warning", teams: [1,2,3], variant: false}
 // 	}
 // };

 // $scope.collection = {floor: {color: "success", amount: 5, size:5, teams: [1,2,3]},
 //                      hp: {color: "warning", amount: 1, size: 5, teams: [1,2,3]}};

 // $scope.end_game = {scale:     {color: "success", percentage: '47.0%', size: 4, teams: [1,2]},
 //                    challenge: {color: "warning", percentage: '10.33%', size: 6, teams: [3]}};

 // $scope.defences = [
 // 	{tactic: "Pinning", team: 2315, match: 'Q1'},
 // 	{tactic: "T-Boning", team: 245, match: 'Q7'},
 // 	{tactic: "Pinning", team: 1242, match: 'SF-1 1'},
 // ];
});

</script>

      <style type="text/css">
        body {
        	text-align: center;
        }
      	h4 {
      		margin-top: 5px;
      	}
      	.glyphicon {
      		font-size: 20px;
      	}
      	.well-sm {
      		border-radius: 16px;
      	}
      	.row {
      		margin-bottom: 5px;
      		margin-top: 5px;
      	}
      	.half {
      		overflow: auto;
      		height: 100%;
      	}
      	.tight {
      		padding-left: 5px;
      		padding-right: 5px;
      	}
      </style>

  </head>
  <body ng-controller="kassandraViewCtrlr" style="height:100%;">
  	<div class="col-xs-12 alert alert-danger" ng-show="fetch_error_msg">
		{{fetch_error_msg}}
	</div>
	<div class="well-sm bg-info" ng-show="general.total_matches" style="position:absolute;top:5px;left:5px;z-index:10;opacity:0.8">
		{{general.total_matches}} Records
	</div>
	<div class="well-sm bg-primary" ng-show="team" style="position:absolute;top:5px;right:5px;z-index:10;opacity:0.8">
		Team # {{team}}
	</div>
  	<div class="col-xs-6 half" ng-show="!fetch_error_msg">
    	<h3><span class="glyphicon glyphicon-transfer"></span> Breaching</h3>
          <div ng-repeat="breach in breaching" class="row well-sm bg-{{breach.color}}">
          	<div class="col-xs-8">
          		<h4>{{ breach.name }}</h4>
          		<div class="h{{breach.size}}">{{ breach.successful }} / {{ breach.attempted }}</div>
          		<div ng-show="breach.teams.length">{{ breach.teams }}</div>
          	</div>
          	<div class="col-xs-4">
            	<img src="/img/defences/{{ breach.type }}.png" style="float:right;height:75px">
        	</div>
          </div>
    </div>
    <div class="col-xs-6 half" ng-show="!fetch_error_msg">
      <h3><span class="glyphicon glyphicon-screenshot"></span> Shooting</h3>
      <div class="row" style="display: flex; align-items: center;">
        <div class="col-xs-10">
  	        <div class="row">
  	        	<div class="col-xs-6 tight">
  	        		<div class="well-sm bg-{{shooting.high.far.color}}">
  		        		<h4><span class="glyphicon glyphicon-chevron-left"></span> <span class="glyphicon glyphicon-arrow-up"></span></h4>
  		        		<div class="h{{shooting.high.far.size}}">{{ shooting.high.far.successful }} / {{ shooting.high.far.attempted }}</div>
  		          		<div ng-show="shooting.high.far.teams.length">{{ shooting.high.far.teams }}</div>
  		          	</div>
  	          	</div>
  	          	<div class="col-xs-6 tight">
  	        		<div class="well-sm bg-{{shooting.high.close.color}}">
  		        		<h4><span class="glyphicon glyphicon-arrow-up"></span> <span class="glyphicon glyphicon-chevron-right"></span></h4>
  		        		<div class="h{{shooting.high.close.size}}">{{ shooting.high.close.successful }} / {{ shooting.high.close.attempted }}</div>
  		          		<div ng-show="shooting.high.close.teams.length">{{ shooting.high.close.teams }}</div>
  		          	</div>
  	          	</div>
  	        </div>
	        <div class="row">
	        	<div class="col-xs-6 tight">
	        		<div class="well-sm bg-{{shooting.low.far.color}}">
		        		<h4><span class="glyphicon glyphicon-chevron-left"></span> <span class="glyphicon glyphicon-arrow-down"></span></h4>
		        		<div class="h{{shooting.low.far.size}}">{{ shooting.low.far.successful }} / {{ shooting.low.far.attempted }}</div>
		          		<div ng-show="shooting.low.far.teams.length">{{ shooting.low.far.teams }}</div>
		          	</div>
	          	</div>
	          	<div class="col-xs-6 tight">
	        		<div class="well-sm bg-{{shooting.low.close.color}}">
		        		<h4><span class="glyphicon glyphicon-arrow-down"></span> <span class="glyphicon glyphicon-chevron-right"></span></h4>
		        		<div class="h{{shooting.low.close.size}}">{{ shooting.low.close.successful }} / {{ shooting.low.close.attempted }}</div>
		          		<div ng-show="shooting.low.close.teams.length">{{ shooting.low.close.teams }}</div>
		          	</div>
	          	</div>
	        </div>
	      </div>
        <img src="../img/castle-from-side.svg" style="height: 175px; max-width: 18vw; z-index:-12;"/>
      </div>
	    <div class="col-xs-12">
	        <h3><span class="glyphicon glyphicon-log-in"></span> Collection</h3>
	        <div class="col-xs-6 tight">
	        	<div class="well-sm bg-{{collection.floor.color}}">
		        	<span class="glyphicon glyphicon-road" style="float:left"></span><span class="h{{collection.floor.size}}">{{collection.floor.amount}}</span>
		        	<div ng-show="collection.floor.teams.length">{{ collection.floor.teams }}</div>
		        </div>
	        </div>
	        <div class="col-xs-6 tight">
	        	<div class="well-sm bg-{{collection.hp.color}}">
		        	<span class="glyphicon glyphicon-user" style="float:left"></span><span class="h{{collection.hp.size}}">{{collection.hp.amount}}</span>
		        	<div ng-show="collection.hp.teams.length">{{ collection.hp.teams }}</div>
		        </div>
	        </div>
	    </div>
	    <div class="col-xs-12">
	        <h3><span class="glyphicon glyphicon-tower"></span> End Game</h3>
	        <div class="col-xs-6 tight">
	        	<div class="well-sm bg-{{end_game.challenge.color}}">
		        	<span class="glyphicon glyphicon-object-align-bottom" style="float:left"></span><span class="h{{end_game.challenge.size}}">{{end_game.challenge.percentage}}</span>
		        	<div ng-show="end_game.challenge.teams.length">{{ end_game.challenge.teams }}</div>
		        </div>
	        </div>
	        <div class="col-xs-6 tight">
	        	<div class="well-sm bg-{{end_game.scale.color}}">
		        	<span class="glyphicon glyphicon-object-align-top" style="float:left"></span><span class="h{{end_game.scale.size}}">{{end_game.scale.percentage}}</span>
		        	<div ng-show="end_game.scale.teams.length">{{ end_game.scale.teams }}</div>
		        </div>
	        </div>
	    </div>
	    <div class="col-xs-12" ng-show="defences.length">
	        <h3><span class="glyphicon glyphicon-lock"></span> Defence</h3>
	    	<div class="well-sm bg-info">
	    		<ol>
	    			<li ng-repeat="defence in defences">{{ defence.tactic }} on {{ defence.team }} in match {{ defence.match }}</li>
	    		</ol>
	        </div>
	    </div>
	</div>
  </body>
</html>
